# Importing Libraries

First of all, let's import all the libraries that we're going to use

In [41]:
import pandas as pd
import numpy as np
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF
from sklearn.preprocessing import normalize

In [42]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Importing Dataset

In [43]:
data = pd.read_csv('/content/drive/MyDrive/Data Science Projects/NLP - Recommendation System/CNN_Articels_clean.csv')

We're going to use only the "Article text" column for this project

In [44]:
data = data[['Article text']]

In [45]:
data.head()

                                        Article text
0   (CNN)Right now, there's a shortage of truck d...
1   (CNN)Working in a factory or warehouse can me...
2   (CNN)In a Hong Kong warehouse, a swarm of aut...
3  New York (CNN Business)For many years, the wor...
4  The European Union formally approved on Tuesda...

In [46]:
# Check the length of the dataset
len(data)

4076

Let's take a look at 1 random example of the article text

In [47]:
data.sample(5).iloc[0]['Article text']

' (CNN)It\'s the biggest football match in 10 years between two fierce rivals, but Japan\'s meeting with South Korea appears to be sparking more concern than excitement. Any sporting event between the two countries always has an additional competitive edge given the historical tensions between South Korea and Japan. South Korea fans describe the clash as an historical rivalry, while Japan\'s national team coach Moriyasu Hajime also acknowledged many people consider it as a "special match," according to JFA news release. Last time the two faced off in an international friendly match in 2011, Japan won 3-0 on home soil.Since then, the rivals have met four times at the East Asian Football Federation Championship, with South Korea winning two of those matches, Japan one of them, with the other game drawn. Read MoreThe South Korean national team is now in Yokohama, Japan, for Thursday\'s friendly match. However, some South Korean fans have called for the game to be canceled due to concerns over the team\'s safety traveling amidst of a global Covid-19 pandemic. READ: \'A dark cloud has developed inside of me\': Fiorentina coach Cesare Prandelli steps down due to \'profound distress\'Japan celebrate reaching the final of the Asian Cup 2011 after defeating South Korea 3-0 in a penalty shoot out.Frightening precedent concerns fans When KFA announced the fixture on its Instagram feed earlier this month, comments flooded in, criticizing the association\'s decision to host the match. "When we say don\'t do it, just don\'t do it, please," one user commented.Fans referred to last November when the South Korean national team traveled to Austria for friendlies, where seven players contracted coronavirus despite complying with the Covid-19 regulations implemented to prevent the spread. Korean football fan Kim Tae-yeon said: "After the trip to Austria, K League clubs were strategically impacted as national players couldn\'t participate in the Asia Champions League (ACL) due to Covid-19 infection."  Ulsan Hyundai FC was forced to compete in the 2020 ACL without its first-choice goalkeeper Jo Hyun-woo, the keeper that shocked football fans at the 2018 Brazil World Cup with his superb performance, as he psychologically suffered from Covid-19\'s aftereffects, though the Korean team still managed to win the title. Kim said the precedent makes him more nervous about the team\'s trip to Japan. "The Covid-19 situation in Japan doesn\'t look good, and there are infected J League players as well." The Japanese Football Association on March 22 confirmed that coach Toshihide Saito had tested positive before linking up with the rest of the squad, but the hotly anticipated match will go ahead as scheduled as there are no close contacts and additional infections within the squad. According to the Johns Hopkins University School of Medicine, Japan has had 458,621 Covid-19 cases and had 8,908 deaths  from coronavirus.Jo Hyun-woo makes a save in the 2018 FIFA World Cup match against Sweden.Rivalry welcomes 10,000 spectators Sporting events have been held behind closed doors or with limited capacity as the Covid-19 pandemic continues to rage on. But the JFA announced that it will sell additional tickets to total 10,000 for Thursday\'s derby match, following the Japanese government\'s decision to lift the Covid-19 state of emergency in the Kanagawa prefecture on March 22.Korean football fan Cho Min-sang criticized the JFA\'s decisio"I think letting 10,000 spectators is a decision ignoring all the efforts made around the world as people are being considerate of each other\'s safety and making efforts to enjoy the game at the stadium," he said. Woo-young Jung and Dujae Won clash with Raul Jimenez of Mexico.Both Kim and Cho compared spectator capacity to the K League, the South Korean professional soccer league. The  K League only welcomes 10% of stadium capacity in Seoul Metropolitan area and 20% in the rest of the nation while away fans are banned to minimize infection risk from traveling. "I\'m concerned for the players, spectators and locals\' health," Cho said. JFA is requiring spectators to comply with its guidelines and prohibited acts on matchday.Fans must scan QR codes, physically distance, wear masks, check temperatures and wash hands. Chanting, physical contact with others and waving flags or scarves is prohibited and, while eating and drinking is allowed, fans must immediately put their masks back on. South Korea saw 428 new cases from Tuesday, while Japan reported 1,491 cases on Tuesday, according to Korea Disease Control and Prevention Agency and Japan\'s Health, Labour and Welfare Ministry.Members of Japan\'s national football team train in Yokohama.Petition Despite some fans\' skepticism over the match, South Korean national team manager Paulo Bento says that this is "the only opportunity" to check the team\'s performance ahead of the second round of World Cup qualifiers in June. However, in a petition to the South Korean President\'s residence Blue House, the petitioner called for the match to be stopped, saying: "It seems like Japan\'s trying to promote that they can properly hold the Olympics by hosting the match." Japan has faced a number of hurdles in hosting the Olympic Games with the ongoing Covid-19 complications, high-level officials resigning and the Organising Committee\'s decision not to allow international spectators. The KFA\'s Medical Committee outlined Covid-19 guidelines for its team to abide by during its trip to Japan. Individuals had to wear a mask and a transparent face shield as they flew to Narita Airport on Monday. The KFA also said players will have to get a test every morning in order to attend training, and those with flu or unusual symptoms will be quarantined immediately. The JFA\'s protocol keeps the teams in a bubble to avoid outside contact, according to its news release. Korea players celebrate after defeating Japan during the men\'s bronze medal play-off match between Korea and Japan at the London 2012 Olympics.Upon returning from Japan, 16 drafted K League players will go into cohort quarantine at the Paju National Football Center for seven days. The KFA said it has coordinated with the Korean government to allow K League players to play league games while limiting their travels only to their house, team facilities and stadiums for another seven days. The K League resumes on April 2. Some Korean fans are also upset that 16 K league players traveling to Japan could be physically exhausted from the trip and quarantine. "K League has tight schedule because the ACL and World Cup qualifiers have been postponed," FC Seoul fan Kim explained. "I\'m worried that if a drafted player gets infected, it\'d be a huge loss for the club." Visit CNN.com/sport for more news, features, and videosSouth Korean national soccer team players take part in a training session in Yokohama.Fans, however, agree with the necessity of quarantining as their concerns over the match is all about the team\'s safety while they root for the team\'s victory in the rivalry."Since the team\'s already there [in Japan], I hope they win and come back safely," one commented on KFA Instagram."I sincerely hope that no one gets injured or infected," Cho said.'

# Checking if the Data Have Null Value

Let's consider 2 types of null values: nan/null and blank entries

In [48]:
# For the null value
data.isnull().sum()

Article text    0
dtype: int64

In [49]:
# For the blank entries
blanks = []

for i, text in data.itertuples():
  if type(text) == 'str':
    if text.isspace():
      blanks.append(i)

blanks

[]

We can conclude that there isn't any null values in the text (in other words, there isn't any empty text)

# Text Preprocessing

We're going to use Spacy for text preprocessing. 

First, Let's load the "en_core_web_sm" model.

In [50]:
nlp = spacy.load('en_core_web_sm')

Let's apply the nlp model to create Spacy doc for each text

In [51]:
data['Lemmatized Article Text'] = data['Article text'].apply(nlp)

In [52]:
data.head()

,Article text,Lemmatized Article Text
0,"(CNN)Right now, there's a shortage of truck d...","( , (, CNN)Right, now, ,, there, 's, a, shorta..."
1,(CNN)Working in a factory or warehouse can me...,"( , (, CNN)Working, in, a, factory, or, wareho..."
2,"(CNN)In a Hong Kong warehouse, a swarm of aut...","( , (, CNN)In, a, Hong, Kong, warehouse, ,, a,..."
3,"New York (CNN Business)For many years, the wor...","(New, York, (, CNN, Business)For, many, years,..."
4,The European Union formally approved on Tuesda...,"(The, European, Union, formally, approved, on,..."

Create the preprocess function to remove stop words and punctuations. Also, to lemmatize each word in all texts.

In [53]:
def preprocess(text):
  # Remove punctuation
  tokens_no_punct = [token for token in text if not token.is_punct]

  # Remove stop words
  tokens_no_punct_stop = [token for token in tokens_no_punct if not token.is_stop]

  # Lemmatize each word 
  tokens_lemma = [token.lemma_ for token in tokens_no_punct_stop]

  # Joining the tokens into text
  text_lemma = ' '.join(token for token in tokens_lemma)

  return text_lemma

Apply the preprocess function to the "Lemmatized Article Text" column.

In addition to applying the function, let's apply lower() function to lower every token (word).

In [54]:
data['Lemmatized Article Text'] = data['Lemmatized Article Text'].apply(preprocess)

In [55]:
data['Lemmatized Article Text'] = data['Lemmatized Article Text'].apply(lambda text: text.lower())

Here's the current overview of our dataset.

In [56]:
data.head()

,Article text,Lemmatized Article Text
0,"(CNN)Right now, there's a shortage of truck d...",cnn)right shortage truck driver worldwide ex...
1,(CNN)Working in a factory or warehouse can me...,cnn)worke factory warehouse mean task repeti...
2,"(CNN)In a Hong Kong warehouse, a swarm of aut...",cnn)in hong kong warehouse swarm autonomous ...
3,"New York (CNN Business)For many years, the wor...",new york cnn business)for year world popular e...
4,The European Union formally approved on Tuesda...,european union formally approve tuesday new ba...

Let's take a look at 5 random samples of the current dataset.

In [57]:
data.sample(5)

,Article text,Lemmatized Article Text
1185,(CNN)Despite being at the center of controver...,cnn)despite center controversy embed ball pa...
3392,(CNN)Here's a look at the life of Gerry Adams...,cnn)here look life gerry adams president sin...
447,\nEditor's Note: CNN is committed to covering ...,\n editor note cnn commit cover gender inequal...
2832,"(CNN)If NBA players are not vaccinated, they ...",cnn)if nba player vaccinate team basketball ...
2290,(CNN)Amid spiking temperatures and humidity a...,cnn)amid spike temperature humidity tokyo ol...

# Building TF-IDF

After the preprocessing step was done, we're ready to create the recommender system.

First, we need to vectorize each token (word). Here, I'm using the Term Frequency - Inverse Document Frequency (TF-IDF) method.

I'm using the max_df and min_df arguments to filter the token (word) that appear too often (in more than 95% of total available texts) and too little (in only 1 text).

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_df=0.95, min_df=2)
dtm = tfidf.fit_transform(data['Lemmatized Article Text'])
dtm

<4076x29922 sparse matrix of type '<class 'numpy.float64'>'
	with 1071897 stored elements in Compressed Sparse Row format>

In [59]:
#tfidf = TfidfVectorizer(max_df=0.95, min_df=2)

In [60]:
#dtm = tfidf.fit_transform(data['Lemmatized Article Text'])

In [61]:
#dtm

# Building NMF

After we get the matrix representation of the TF-IDF, we're set to go to the second step using Non-Negative Matrix Factorization.

In [62]:
from sklearn.decomposition import NMF

In [63]:
# Let's try 30 n_components
# The n_components represent the number of topics.
nmf_model = NMF(n_components=30, random_state=42)

In [64]:
# Fitting the NMF model to the dtm
nmf_model.fit(dtm)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

NMF(n_components=30, random_state=42)

In [65]:
# Beacuse we choose 30 n_components, the len of nmf_model.components_ should be 30
len(nmf_model.components_)

30

In [66]:
# Check the shape of nmf_model.components_
nmf_model.components_.shape

(30, 29922)

In [67]:
topic_results = nmf_model.transform(dtm)

In [68]:
# Check the shape of topic_results matrix
topic_results.shape

(4076, 30)

In [69]:
# Let's take a look at the first row of topic_results matrix
topic_results[0]

array([0.01935892, 0.        , 0.        , 0.00095875, 0.00696324,
       0.        , 0.13735303, 0.        , 0.01809424, 0.        ,
       0.00061374, 0.        , 0.00031728, 0.        , 0.0095273 ,
       0.01216267, 0.        , 0.00077774, 0.0112343 , 0.        ,
       0.        , 0.        , 0.00095646, 0.        , 0.00550749,
       0.        , 0.        , 0.        , 0.00036116, 0.        ])

# The Recommender Function (Cosine Function)

Finally, we've reached the final step. Applying the recommender function to get the recommendations (top n texts related to the given text).

I use the cosine function because in mathematics, the cosine function can be used to calculate the difference in angle between two vectors.

The value of cosine function is between 0 and 1, where 0 means the two vectors very dissimilar and 1 means the two vectors very similar.

In general, the cosine function in $\mathbb{R}^2$ between vector $a$ and $b$ is defined as below:

\begin{align}
    cos (\theta) = \frac{a \cdot b}{||a|| ||b||}
\end{align}

In [70]:
# Let's normalize all of the text vector
norm_topic_results = normalize(topic_results)

In [71]:
# Create a new dataframe consisted of norm_topic_results and article text
new_data = pd.DataFrame(norm_topic_results, data['Article text'])

In [72]:
new_data = new_data.reset_index()

In [73]:
new_data.head()

,Article text,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,"(CNN)Right now, there's a shortage of truck d...",0.136838,0.0,0.0,0.006777,0.049219,0.0,0.970873,0.0,0.127898,...,0.000000,0.0,0.006761,0.0,0.038929,0.0,0.0,0.0,0.002553,0.000000
1,(CNN)Working in a factory or warehouse can me...,0.175583,0.0,0.0,0.017456,0.075632,0.0,0.974493,0.0,0.000000,...,0.012342,0.0,0.025617,0.0,0.000000,0.0,0.0,0.0,0.024106,0.033406
2,"(CNN)In a Hong Kong warehouse, a swarm of aut...",0.107858,0.0,0.0,0.009095,0.009227,0.0,0.986812,0.0,0.000000,...,0.018001,0.0,0.000000,0.0,0.005872,0.0,0.0,0.0,0.000000,0.012867
3,"New York (CNN Business)For many years, the wor...",0.113347,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.978112,0.0,0.054598,0.0,0.0,0.0,0.080647,0.000000
4,The European Union formally approved on Tuesda...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.000000,0.0,0.885083,0.0,0.003234,0.0,0.0,0.0,0.000000,0.000000

# Recommended Article to the 24th Article

Let's take the 24th article as an example

In [74]:
current_article = new_data.iloc[23]

In [75]:
similarities = new_data.iloc[:, 1:].dot(current_article[1:])

In [76]:
similarities

0       0.046164
1       0.053188
2       0.018246
3       0.401133
4       0.363969
          ...
4071    0.009264
4072    0.036092
4073    0.052112
4074    0.290127
4075    0.075692
Length: 4076, dtype: object

In [77]:
print(similarities.astype(float).nlargest(6).iloc[1:])

163     0.908235
189     0.900680
423     0.899432
3033    0.897820
428     0.893899
dtype: float64

In [78]:
new_data.iloc[163]['Article text']

'Washington (CNN)When President Joe Biden passingly said in a voting rights speech last week that he had been "arrested" in the context of the civil rights movement -- even suggesting this had happened more than once -- it was a classic Biden false claim: an anecdote about his past for which there is no evidence, prompted by a decision to ad-lib rather than stick to a prepared text, resulting in easily avoidable questions about his honesty.   Biden\'s imaginary or embellished stories about his own history were the most memorable falsehoods of his first year in office. They were not, however, the only ones. The President also made multiple false claims about important policy matters, notably including three subjects that occupied much of his time: the US withdrawal from Afghanistan, the economy and the Covid-19 pandemic. And Biden was incorrect on numerous occasions when ad-libbing about a wide assortment of facts and figures -- sometimes in a way that appeared inadvertent, but other times in a way that helped him make a political point.   Unlike his uniquely dishonest predecessor, Biden did not bury fact-checkers in a daily avalanche of serial falseness. Biden never came close to making a dozen false claims in a single speech, let alone five dozen false claims in one address, as Trump once did. In fact, the total number of Biden false claims so far is in the dozens, while Trump delivered well over 1,000 total false claims in his own first year and more than 3,000 the next year. Read MoreSo Biden is no Trump. With that said, dozens of false claims from the President of the United States is not nothing. And considering that Biden added dozens more claims that were misleading or lacking in important context, he provided more than enough material to keep fact-checkers on their toes. Here is a roundup of Biden\'s first year in inaccuracy. The White House declined to comment for this article; it has previously commented for individual fact checks on some of the false claims we are discussing again below.False claims about his own pastBiden made a series of claims about his own past that were just not true. It was these easy-to-understand, hard-to-defend personal falsehoods -- more than his false claims about complex policy issues or obscure statistics, which supporters could more easily dismiss as good-faith errors -- that provided the best ammunition for opponents looking to portray him as deceptive.And like some of Trump\'s tall tales about his past, Biden\'s tended to be peripheral to his message. In other words, he was hurting his reputation for little possible gain.While talking in November to technical college students standing near a truck, Biden claimed, "I used to drive a tractor-trailer," though only for "part of a summer." This was similar to something he had said at a Mack Trucks facility in July, when he claimed, "I used to drive an 18-wheeler, man," adding, "I got to." There is no evidence Biden ever drove a big truck; the White House previously noted to CNN that he once had a job driving a school bus (which is not an 18-wheeler or a tractor-trailer) and that, as a senator in 1973, he spent a night riding in a cargo truck (not driving it).Biden repeatedly told a story about a supposed conversation during his vice presidency with an old friend, an Amtrak train conductor, that could not possibly have happened because the man was dead at the time. He repeatedly boasted that he had traveled "17,000 miles" with Chinese President Xi Jinping, though that number is not even close to correct.Biden distracted from his voting rights message with the baseless claim last week, which he had made before, about having been arrested during a civil rights protest; in some of the previous versions of the story, he had merely claimed a police officer had taken him home from a protest. (There is evidence Biden participated in some civil rights activities in his youth but no record of any arrest.) And Biden told two different inaccurate stories while trying to emphasize his connection to the Jewish community. The 7 most important lines from Joe Biden\'s news conferenceAt a September event in honor of the High Holy Days, Biden told Jewish leaders that he remembered "spending time at" and "going to" Pittsburgh\'s Tree of Life synagogue, the site of an antisemitic massacre in 2018; he had spoken by phone to the synagogue\'s rabbi in 2019 but never went. At a Hanukkah event in December, Biden claimed that late Israeli Prime Minister Golda Meir had invited him to meet with her during the Six-Day War of 1967 (he actually met with her weeks before the Yom Kippur War six years later) and, more significantly, that she had wanted him to be "the liaison between she and the Egyptians about the Suez, and so on and so forth." There is zero evidence Meir ever wanted to use a 30-year-old rookie US senator as a "liaison" with a major adversary. False claims about AfghanistanBiden was bedeviled over the summer by his chaotic withdrawal of US troops from Afghanistan. And he made a variety of false claims as he tried to defend his handling of the situation -- further undermining his authority on an issue on which he was already struggling to persuade the public.In August, the President said, "What interest do we have in Afghanistan at this point, with al Qaeda gone?" Al Qaeda had been degraded in Afghanistan, but it wasn\'t "gone" -- as a Pentagon spokesman acknowledged on camera that same day. In an interview that week, Biden defended the US withdrawal in part by claiming that the concept of nation-building in Afghanistan "never made any sense to me" -- though, in fact, he had explicitly advocated nation-building in the early years of the war, both in Afghanistan and more broadly.In July, when Biden was under pressure to quickly relocate Afghans who had assisted US troops, he said "the law doesn\'t allow" Afghan translators to come to the US to await the processing of their visa applications. But experts in immigration law immediately said this wasn\'t true, given the administration\'s authority to grant "parole," and, indeed, the Biden administration ended up using parole later in the summer to do what Biden had claimed wasn\'t permitted. In December, Biden said in another interview that "I\'ve been against that war in Afghanistan from the very beginning." While he eventually grew opposed to the war, he was not against it from the start -- as fact-checkers pointed out when he had made similar remarks during his presidential campaign.  False claims about the economyThe state of the economy was a key rhetorical battleground between Biden and his critics: He argued it was thriving; they argued it was failing. And although both sides often cited valid data points, the President also made some false claims to bolster his case.Biden occasionally overstated progress and understated problems. Asked at a CNN town hall in July about inflation in automobile prices, he claimed that the cost of a car was "kind of back to what it was before the pandemic"; the cost had actually increased substantially since late 2019 and early 2020. In an economic speech in November, he greatly exaggerated the extent of the decline in the unemployment rate during his tenure.To try to sell his economic policies, Biden sometimes made inaccurate statements about what experts had said about them. In May alone, he falsely claimed that there was a consensus among economists about how many jobs his American Jobs Plan would create, significantly overstated how many jobs the firm Moody\'s Analytics in particular predicted the plan would create and falsely claimed that the last five leaders of the Federal Reserve had said the plan would produce economic growth -- wrongly describing both the contents and the authorship of an article that was actually written by five former Internal Revenue Service chiefs. Later in the year, Biden misleadingly framed another Moody\'s jobs estimate. And he repeatedly omitted the key phrase "longer-term" from an assertion by Nobel-winning economists that his $1.9 trillion Build Back Better agenda would "ease longer-term inflationary pressures" -- leaving Americans to believe that these economists might have said his agenda would reduce the inflation hurting their bank accounts today.False claims about the Covid-19 pandemicMany of Biden\'s first-year speeches were devoted to the Covid-19 pandemic. Biden was almost incomparably more accurate on this subject than Trump was, tending to factually convey the severity of the situation rather than match his predecessor\'s fantastical rhetoric about how bad numbers were not actually bad numbers and how the virus would just disappear. But Biden made a smattering of false claims on this topic, too.At the CNN town hall in July, Biden made the inaccurate categorical promise that "you\'re not going to get Covid" if you\'re vaccinated. It was clear even before the emergence of the Omicron variant that vaccinated people were still getting infected with the virus, though the vaccines made them much less likely to get seriously ill; vaccinated people on the President\'s own staff had been infected. Biden also went too far at the town hall when he categorically pledged that "if you\'re vaccinated, you\'re not going to be hospitalized, you\'re not going to be in the ICU unit and you\'re not going to die"; these outcomes happen, too, though they are much less common among vaccinated people. Biden sometimes exaggerated on the subject of his administration\'s work to get Americans vaccinated -- misleadingly playing down the Trump administration\'s own vaccine purchases and, in May, overstating how the US vaccination rate compared with those of the rest of the world. And he made various errors in discussing pandemic-related facts and figures.In February, Biden claimed that "suicides are up" amid the pandemic; experts said at the time that the claim was premature, and it turned out to be wrong (though suicide rates did increase for some specific demographic groups). In October, the President wrongly told Americans that there were "over 800,000" vaccination sites in the country; he had added an extra 0 to the correct figure he usually used, 80,000.False claims in unscripted settingsWhen Biden stuck to prepared speeches vetted by his staff, he tended to be factual (though certainly wasn\'t perfect). When he ad-libbed or participated in unscripted exchanges with journalists and citizens, he was more likely to sprinkle in inaccuracies -- making false or misleading claims about everything from his handling of the situation at the southern border to Virginia political history to gun laws to the size of a tax break for people who own racehorses.During Biden\'s first 100 days in the Oval Office, he was repeatedly incorrect or misleading in describing the actions of the Trump administration. And he made one particularly notable misleading claim during that early period. At a heated moment of the national debate over Georgia Republicans\' new elections law, Biden did a television interview in which he criticized the law in part by misstating what it says.'

In [79]:
new_data.iloc[23]['Article text']

'New York (CNN Business)President Joe Biden planned to reshape the Federal Reserve through his nominations for the three vacant seats on the board of governors. But Democratic Sen. Joe Manchin of West Virginia threw a wrench into those plans Monday.The crux of the matter is the nomination of Sarah Bloom Raskin, a former deputy Treasury secretary and a governor of the Federal Reserve Board during the Obama administration, who is facing opposition in a divided Senate.Raskin\'s stance on environmental issues, including her view on the transition away from fossil fuels, are colliding with soaring gas prices and a renewed debate about oil independence in the face of the Russia-Ukraine conflict."Her previous public statements have failed to satisfactorily address my concerns about the critical importance of financing an all-of-the-above energy policy to meet our nation\'s critical energy needs," Manchin said in a statement on Monday announcing his opposition to Raskin\'s nomination. Manchin is not a member of the Senate Banking Committee that will be voting on Raskin\'s candidacy.The US Chamber of Commerce already voiced concern over her nomination to be the vice chair of supervision -- essentially the Fed\'s top banking regulator -- in January. And a month ago, Senate Republicans boycotted a vote in protest of Raskin\'s nomination, halting a slate of pending nominees for the central bank.Read MoreThe renomination of Fed Chairman Jerome Powell for another term is also stalled. Even though Powell is enjoying support on both sides of the aisle, he hasn\'t been fully confirmed yet, leaving him with the title add-on "pro tempore" for now.All this comes at a time when Fed policy has taken center stage amid rampant inflation. Consumer prices haven\'t risen at this fast a pace since 1982.The central bank is expected to raise interest rates by a quarter-percentage point this week in an effort to curb demand and bring prices under control.Meanwhile, the White House continued to stand behind Raskin\'s nomination. Biden has pledged to make the Fed more diverse in terms of both its gender and racial make up. The president also nominated Philip Jefferson and Lisa Cook to join the central bank. Cook would be the first Black woman to serve at the Fed in its history."Sarah Bloom Raskin is one of the most qualified people to have ever been nominated for the Federal Reserve Board of Governors -- she previously served on the Board and she served as second-in-command at Treasury, both positions where she earned bipartisan Senate confirmation," a White House official said.The administration was working to line up bipartisan support for her confirmation, the official added, calling the adversity surrounding her nomination an "unprecedented, baseless campaign led by oil and gas companies."CNN\'s Manu Raju and Phil Mattingly contributed to this report.'

# Implementation

Let's implement the recommender system so it can receive input from user (index of the current article) and output the top 5 recommended articles related to the current article.

In [80]:
index = int(input('Please enter the index number of the article that you currently read: '))
current_article = new_data.iloc[index]
similarities = new_data.iloc[:, 1:].dot(current_article[1:])
print(' ')
print(f'The top 5 articles related to the article number {index} are: \n')
print('Index   Similarity Score')
print(similarities.astype(float).nlargest(6).iloc[1:])

Please enter the index number of the article that you currently read: 23

The top 5 articles related to the article number 23 are:

Index   Similarity Score
163     0.908235
189     0.900680
423     0.899432
3033    0.897820
428     0.893899
dtype: float64

# Voila!